/* Reset geral */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garantir que html, body e root ocupem 100% da tela */
html, body, #root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  background-color: transparent;
}

/* Código */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
